*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.wrapper{
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(9px);
  color: #fff;
  border-radius: 12px;
  padding: 30px 40px;
}
.wrapper h1{
  font-size: 36px;
  text-align: center;
}
.wrapper .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  
  margin: 30px 0;
}
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
  color: #000000;
}
.input-box i{
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;

}
.wrapper .remember-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}
.remember-forgot label input{
  accent-color: #000000;
  margin-right: 3px;

}
.remember-forgot a{
  color: rgb(93, 0, 255);
  text-decoration: none;

}
.remember-forgot a:hover{
  text-decoration: underline;
}
.wrapper .btn{
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}
.wrapper .register-link{
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;

}
.register-link p a{
  color: rgb(8, 0, 255);
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover{
  text-decoration: underline;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background: rgba(22, 41, 56, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.navigation a {
   position: relative;
   font-size: 1.1em;
   color: #fff;
   text-decoration: none;
   font-weight: 500;
   margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
    will-change: transform;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
    will-change: background-color, color;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

.hero h1{
    max-width: 800px;
    font-size: 40px;
    color: #3c476c;
    padding: 10px 0;
    text-align: center;
    font-weight: 800;
    line-height: 150%;
}
.hero p {
    max-width: 600px;
    font-size: 18px;
    color: #3c476c;
    text-align: center;
    font-weight: 400;
    text-align: center;
}

.powered-by {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.powered-by p {
    max-width: 600px;
    font-size: 30px;
    color: black;
    text-align: center;
    font-weight: 800;
    margin-top: 20px;
}

.about {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 10px;
    backdrop-filter: blur(20px);
}

.about h1 {
    font-size: 36px;
    color: #000000;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    color: #000000;
    line-height: 1.6;
}

.discord-image {
    width: 40%;
    height: auto;
    max-width: 600px;
    border-radius: 40px;
    margin-top: 20px;
}
